.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}

.margin-5 {
  margin: 5px !important;
}

.margin-10 {
  margin: 10px !important;
}

.margin-20 {
  margin: 20px !important;
}

.right {
  float: right;
}